
body{
    margin: 0;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    padding: 10px;
    background-color: #040404;
    border-bottom: 1px solid rgba(78,202,255,.3);
    border-image-slice: 10%;
}

.navbar_head {
    padding: 0 16px;
}

.navbar_btn {
    padding: 2px 6px;
    color: aliceblue;
    display: none;
}

.navbar_item {
    color:aliceblue;
    text-align: center;
    padding: 5px 15px;
}

.hero{
    background: url("./img/bgPC.png");
    background-size: cover;
    background-position: bottom;
    height: 45rem;
    display: flex;
    flex-direction: column;
    color:aliceblue;
}

.hero_item{
    display: flex;
    flex-direction: column;
    margin:10rem 20%;
    width: 40rem;
}

.btnAeoN {
    display: flex;
    margin-top: 60px;
}

a {
    text-decoration:none;
}
.footer {
    display: flex;
    border-top: 1px solid rgba(78,202,255,.3);
    background-color: #000;
    justify-content: center;
    padding: 2rem;
}
.introduction {
    background: linear-gradient(274.85deg,#4ecaff 3%,#64cfde 97.17%);
    border-radius: 39px;
    box-shadow: 0 1px 39px rgb(133 250 202 / 34%);
    display: flex;
    height: 48px;
    color:#040404;
    justify-content: center;
    line-height: 48px;
    opacity: .8;
    width: 147px;
}

.btnStartGuides {
    align-items: center;
    background: hsla(0,0%,100%,.07);
    border: 1px solid #4ecaff;
    border-radius: 39px;
    box-sizing: border-box;
    color: #4ecaff;
    cursor: pointer;
    display: flex;
    height: 49px;
    justify-content: center;
    margin-left: 32px;
    transition: .3s;
    width: 130px;
}

.titleBig{
    font-size: 3.5rem;
}

.hero .logo{
    width: 30rem;
}

.swipper {
    background-color: #000;
    border-bottom: 1px solid rgba(23, 116, 156, 0.3);
    border-top: 1px solid rgba(23, 116, 156, 0.3);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    color:aliceblue;
    height: 60px;
}

.swipper-wrapper{
    display: flex;

}
.slide {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    line-height: 56px;
    width: 10vw;
}
.slide:hover{
    background-color: #555;
}
.mainBody{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #000;
    color:aliceblue

}

.display{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardlist {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem;
}

.card {
    background: hsla(0,0%,100%,.1);
    border: 1px solid hsla(0,0%,100%,.2);
    border-radius: 8px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex: 1 1 32%;
    height: 135px;
    margin-bottom: 16px;
    margin-left: 16px;
    max-width: 30rem;
    min-width: 20rem;
    padding: 0 35.4px;
    transition: .3s;
    text-align: left;
    align-items: center;
}

@media (max-width: 966px){
    .navbar_btn{
        display: inherit;
    }
    .navbar_item{
        display: none;
    }
    .hero{
        background: url("./img/bgPhone.png");
        background-size: cover;
        background-position: bottom;
        
    }
    .hero_item{
        width:80%;
        justify-content: center;
        align-items: center;
        margin:auto;
    }
    .hero .logo{
        width:65%;
    }
    .title{
        font-size: 6vw;
    }
    .btnAeoN {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        width: 65%;
    }
    .introduction{
        width: 100%;
    }
    .btnStartGuides {
        margin-left: 0;
        margin-top: 42px;
        width: 100%;
    }
    .slide.hide{
        display: none;
    }
    .cardlist{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .card {
        flex: none;
        height: 70px;
        margin: 0 0 12px;
        padding: 0 31px;
        width: 120%;
    }
}